.anchor{
    -fx-background-image:url("login.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 400;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 17;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 3, 3;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}